[plugin]

name="GameForge Toast"
description="Toast notification system for Godot 4. Supports 5 styles, 9 positions, stacking and loader animations. Requires: ss-gameforge-singleton."
author="Slice Soft"
; x-release-please-start-version
version="1.1.0"
; x-release-please-end-version
script="plugin.gd"
