[plugin]

name="GameForge Wired"
description="Advanced input system for Godot 4 with runtime rebinding, per-player isolation, automatic device detection and built-in rebind UI. Requires: ss-gameforge-singleton."
author="Slice Soft"
; x-release-please-start-version
version="1.1.0"
; x-release-please-end-version
script="plugin.gd"
