[plugin]

name="GameForge Singleton"
description="Single-instance node pattern. Base class for services that need a unique instance in the scene tree."
author="Slice Soft"
; x-release-please-start-version
version="1.0.1"
; x-release-please-end-version
script="plugin.gd"
