[plugin]

name="GameForge Dialogue"
description="Lightweight dialogue system for Godot 4. Supports auto, manual and hybrid advance modes, BBCode, custom themes and chaining."
author="Slice Soft"
; x-release-please-start-version
version="1.2.0"
; x-release-please-end-version
script="plugin.gd"
